* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Index */
.contenedor {
    display: flex;
    flex-wrap: wrap;
}

.contenedorMenu {
    flex-grow: 1;
    position: fixed;
    background-color: aquamarine;
    width: 300px;
    height: 100vh;

}

.contenedorInicio {
    overflow-y: scroll; 
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 300px;
    background-color: burlywood;
    width: 100%;
    height: 100vh;
    
}

/*  quitar srcoll

.contenedorInicio::-webkit-scrollbar {
    display: none;
} */

/* Principal */

/* .principal {
    
} */


.contenedorFooter { 
    background-color: chartreuse;
    width: 100%;
    height: 200px;
}
/* footer */
